 <header>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Shop App</h1>
        <p>En yeni, En havalı, En şahane ürünlerin hepsi tek tıklamayla hayatında</p>
      </div>
    </div>
  </header>